@import "tailwindcss";
@plugin "daisyui";

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background-color: beige;
  color: rgb(0, 0, 0);
  padding: 2rem;
}
